.env
.env.*.backup

storage/*.key
storage/*.log
storage/debugbar/*

bootstrap/cache/*.php
bootstrap/cache/*.json

/vendor/
/node_modules/

nova-components/*/node_modules/
/nova-components/*/vendor/

public/hot
public/storage
public/mix-manifest.json
public/*.css
public/*.js

.phpunit.result.cache
Homestead.json
Homestead.yaml
coverage/

.idea
.vscode
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
